* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color-red: #ff0101;
  --main-txt-lightgray: #74798c;
  --main-bg-black: #020203;
  --main-bg-gray: #282d30;
  /* --main-bg-lightgray: #f7a9a9; */
  --main-bg-lightgray: #fbfbfb;
}

@font-face {
  font-family: "roboto regular";
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "roboto bold";
  src: url("./assets/fonts/Roboto/Roboto-Bold.ttf");
}

body,
button {
  font-family: "roboto regular", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* background-color: gray; */
}

.appContainer {
  max-width: 1440px;
  height: 100vh;
  margin: auto;
  background-color: white;
}

h1 {
  font-size: 40px;
  font-weight: 500;
  font-family: "roboto bold", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

p {
  font-size: 16px;
}

.red {
  color: var(--main-color-red);
}

/* --------------------------------------------------------- */
/* --------------login page---------------------- */
/* --------------------------------------------------------- */

.background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(120deg, #c1d0ff, #facedd);
  position: relative;
}

.background span.title {
  font-size: 1.5rem;
  align-self: baseline;
}

.loginCardContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-block: 50px;
  gap: 50px;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 20%) !important;
}

.loginContainer {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.btnUserContainer {
  display: flex;
  gap: 25px;
}

.btnUserContainer button {
  background-color: transparent;
  border: 1px solid rgb(221, 221, 221);
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  user-select: none;
  transition: translate 0.2s, box-shadow 0.2s;
}
.btnUserContainer button:hover {
  box-shadow: 0 10px 20px 0 rgba(181, 36, 36, 0.2);
  translate: 0px -2px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--main-color-red);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.switch::before {
  content: "mock";
  position: absolute;
  left: -80%;
  top: 25%;
  width: 50px;
  font-size: 15px;
}
.switch::after {
  content: "call API";
  position: absolute;
  right: -100%;
  top: 25%;
  font-size: 15px;
}

/* --------------------------------------------------------- */
/* --------------User page---------------------- */
/* --------------------------------------------------------- */

header {
  position: sticky;
  height: 10vh;
  width: 100%;
  background-color: var(--main-bg-black);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
}

.logo img {
  scale: 0.8;
}

nav {
  width: 80%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

aside {
  position: absolute;
  top: 0;
  background-color: var(--main-bg-black);
  height: 100vh;
  max-width: 100px;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.asideIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap: 10px; */
}

.asideIconContainer img {
  scale: 0.8;
}

aside small {
  rotate: 270deg;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-wrap: nowrap;
  position: absolute;
  bottom: 12%;
  left: 50%;
  translate: -50%;
}

.contentContainer {
  /* background-color: lightgreen; */
  margin: 0;
  height: calc(100vh - 10vh);
  width: calc(100% - 10vw);
  margin-left: max(10vw, 100px);
  padding-left: 6vw;
  padding-top: 5vh;
  padding-right: 70px;
}

.contentContainer > p {
  margin-top: 2%;
  margin-bottom: 6%;
}

.contentBoard {
  background-color: lightsalmon;
  height: 75%;
  max-width: 1025px;
  display: grid;
  gap: 28px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "ch ch ch ac"
    "li tl cr ac";
}

.chart,
.line,
.toile,
.cercle,
.activityCard {
  background-color: var(--main-bg-lightgray);
  border-radius: 5px;
  /* max-height: calc(100% - 14px); */
}

.chart {
  grid-area: ch;
}

.line {
  grid-area: li;
}

.toile {
  grid-area: tl;
}

.cercle {
  grid-area: cr;
}

.activityContainer {
  grid-area: ac;
  display: grid;
  grid-template-rows: repeat(4, minmax(0, 1fr));
  gap: 4%;
}

.activityCard {
  padding: 32px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "img an an"
    "img at at";
}

.activityCard img {
  grid-area: img;
}

.activityNumber {
  grid-area: an;
  margin: auto;
  margin-left: 15px;
  color: var(--main-bg-gray);
  font-size: 18px;
  font-weight: 700;
}

.activityTitle {
  grid-area: at;
  margin: auto;
  margin-left: 15px;
  color: var(--main-txt-lightgray);
  font-size: 12px;
  font-weight: 500;
}
